.para11 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: right;
}

.para6 {
  margin:  0.0835in 0px 0.0835in 0px;
}

.para5 {
  margin:  0.0972in 0px 0.0835in 0px;
}

.para4 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para9 {
  border-bottom: 0.2pt double #808080;
  border-left: none;
  border-right: none;
  border-top: none;
  margin:  0.0000in 0px 0.1965in 0px;
}

.para3 {
  margin:  0px 0px 0px 0px;
}

.para10 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: center;
}

.para8 {
  margin:  0.0000in 0px 0.1965in 0px;
}

.para2 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para1 {
  margin:  0.1665in 0px 0.0835in 0px;
}

.para7 {
  margin:  0.0000in 0px 0.0000in 0px;
}

.para0 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: center;
}

.span20 {
  color: #76ff03;
  font-size: 17.0000pt;
  font-weight: bold;
}

.span18 {
  color: #000080;
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span17 {
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
}

.span21 {
  color: #76ff03;
  font-size: 36.0000pt;
  font-style: italic;
  font-weight: bold;
  text-decoration:  underline;
}

.span19 {
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  font-style: italic;
  font-weight: bold;
  text-decoration:  underline;
}

.span16 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span15 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span14 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span2 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span9 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span5 {
}

.span7 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span6 {
  color: #000000;
}

.span0 {
  color: #fafafa;
  font-family: 'Liberation Sans';
  font-size: 40.0000pt;
  font-weight: bold;
}

.span1 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 40.0000pt;
  font-weight: bold;
}

.span12 {
  font-family: 'Liberation Sans';
  font-size: 13.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span13 {
  color: #000000;
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span8 {
  color: #000000;
  font-weight: bold;
}

.span10 {
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span3 {
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span4 {
  font-family: 'Liberation Sans';
  font-size: 0.58em;
  font-weight: bold;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span11 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 13.0000pt;
  font-style: italic;
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame1 {
  border: 0.74pt dashed #18ffff;
  float: left;
  width: 6.9382in;
}

.frame0 {
  float: left;
  width: 6.7110in;
}
