.para0 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: center;
}

.para2 {
  margin:  0.1665in 0px 0.0835in 0px;
}

.para3 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para4 {
  margin:  0px 0px 0px 0px;
}

.para5 {
  margin:  0.0000in 0px 0.0972in 0px;
}

.para6 {
  margin:  0.0972in 0px 0.0835in 0px;
}

.para7 {
  margin:  0.0835in 0px 0.0835in 0px;
}

.para8 {
  border-bottom: 0.2pt double #808080;
  border-left: none;
  border-right: none;
  border-top: none;
  margin:  0.0000in 0px 0.1965in 0px;
}

.para9 {
  margin:  0.0835in 0px 0.0417in 0px;
}

.para10 {
  margin:  0.0000in 0px 0.0000in 0px;
}

.para11 {
  margin:  0.0000in 0px 0.1965in 0px;
}

.para13 {
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: start;
}

.para1 {
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: center;
}

.para12 {
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: right;
}

.span46 {
  color: #76ff03;
  font-size: 36.0000pt;
  font-style: italic;
  font-weight: bold;
  text-decoration:  underline;
}

.span45 {
  color: #76ff03;
  font-size: 17.0000pt;
  font-weight: bold;
}

.span47 {
  color: #fafafa;
  font-size: 36.0000pt;
  font-weight: bold;
  text-decoration:  underline;
}

.span44 {
  background-color: #ff5252;
  color: #000080;
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span43 {
  background-color: #ff5252;
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
}

.span40 {
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
}

.span39 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span38 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span37 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span41 {
  color: #000080;
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span36 {
  font-size: 0.58em;
  font-weight: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span35 {
  font-weight: normal;
}

.span34 {
  font-family: 'Liberation Sans';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span32 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 13.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span31 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span29 {
  background-color: #000000;
}

.span42 {
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  font-style: italic;
  font-weight: bold;
  text-decoration:  underline;
}

.span30 {
  background-color: #000000;
  text-decoration:  line-through;
}

.span10 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span1 {
  color: #76ff03;
  font-family: 'Liberation Sans';
  font-size: 40.0000pt;
  font-weight: bold;
}

.span13 {
  font-weight: bold;
}

.span33 {
  color: #000000;
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span22 {
  background-color: #000000;
  color: #ffff00;
  font-weight: normal;
}

.span21 {
  background-color: #000000;
  color: #ff1744;
  font-weight: normal;
}

.span8 {
  color: #000000;
}

.span26 {
  background-color: #fafafa;
  color: #000000;
  font-weight: normal;
}

.span2 {
  color: #76ff03;
  font-size: 20.0000pt;
}

.span4 {
  color: #000000;
  font-family: 'Liberation Sans';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span6 {
  font-family: 'Liberation Sans';
  font-size: 0.58em;
  font-weight: bold;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span9 {
  color: #000000;
  font-weight: bold;
}

.span3 {
  color: #76ff03;
  font-size: 20.0000pt;
  text-decoration:  underline;
}

.span12 {
  font-family: 'Liberation Sans';
  font-size: 13.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span27 {
  background-color: #fafafa;
  color: #ff1744;
  font-weight: normal;
}

.span0 {
  color: #fafafa;
  font-family: 'Liberation Sans';
  font-size: 40.0000pt;
  font-weight: bold;
}

.span14 {
  font-effect: outline;
}

.span7 {
}

.span15 {
  font-family: 'Liberation Sans';
  font-size: 0.58em;
  font-style: italic;
  font-weight: bold;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span16 {
  font-family: 'Liberation Sans';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span17 {
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span28 {
  font-family: 'mono';
}

.span19 {
  background-color: #000000;
  color: #64ffda;
  font-weight: normal;
}

.span11 {
  font-family: 'Liberation Sans';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span5 {
  font-family: 'Liberation Sans';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span25 {
  background-color: #000000;
  color: #e040fb;
  font-weight: normal;
}

.span20 {
  background-color: #000000;
  color: #00e676;
  font-weight: normal;
}

.span18 {
  text-decoration:  line-through;
}

.span23 {
  background-color: #000000;
  color: #fafafa;
  font-weight: normal;
}

.span24 {
  background-color: #000000;
  color: #ff9100;
  font-weight: normal;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame1 {
  border: 0.74pt dashed #18ffff;
  float: left;
  width: 6.9382in;
}

.frame0 {
  float: left;
  width: 6.7110in;
}
